<a href="https://colab.research.google.com/github/francescodilda/MLPNS_FDilda/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
2*2

4

#First Markdown Cell#

This is a text cell in markdown syntax, similar to LaTeX, for example I can write $e^{iθ} = cos θ + i sin θ$

#Here we start coding#

#Native variable and variable types#

##Integer and float variables##

In [2]:
intVar = 3

In [3]:
type(intVar)

int

In [4]:
floatVar = 3.0

In [5]:
type(floatVar)

float

In [7]:
float2Var = float(intVar)

In [8]:
type(float2Var)

float

In [9]:
intVar * floatVar

9.0

In [10]:
type(intVar * floatVar)

float

In [12]:
type(intVar / 2)

float

In [13]:
intVar + floatVar - intVar / 2

4.5

In [14]:
type(intVar + floatVar - intVar / 2)

float

##String Variables##

In [15]:
print("Hello world")

Hello world

In [16]:
print('''Hello
  world''')

Hello
  world

In [17]:
print("hello
  world")

SyntaxError: ignored

In [18]:
strVar = 'Hello world'

In [19]:
print(strVar)

Hello world

##Boolean##

In [22]:
True

True

In [23]:
False

False

In [25]:
if True:
  print("this is True")
  print(intVar * floatVar)

this is True
9.0

In [30]:
cond = intVar > floatVar

In [31]:
if cond:
  print("this is True")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [32]:
# == is equal?
print(intVar == floatVar)
# > greater ?
print(intVar > floatVar)
# < smaller ?
print(intVar < floatVar)
# != not equal
print(intVar != floatVar)

True
False
False
False

In [34]:
# | is logical OR
(intVar > floatVar) | (intVar == floatVar)
# & is logical AND
(intVar > floatVar) & (intVar == floatVar)

False

In [35]:
True == 1
False == 0

True

In [36]:
# AND is like *
if (intVar > floatVar) * (intVar == floatVar):
  print("True")
else:
  print("False")

# OR is like +
if (intVar > floatVar) + (intVar == floatVar):
  print("True")
else:
  print("False")

False
True

In [37]:
if 2:
  print("something")

something

In [38]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [40]:
for i in range(1, 10, 3):
  print(i)

1
4
7

#Variables as objects

In [43]:
strVar = 'hello world'

In [44]:
strVar.capitalize()

'Hello world'

In [45]:
strVar.upper()

'HELLO WORLD'

In [46]:
strVar.isdigit()

False

In [47]:
"3".isdigit()

True

In [48]:
"c3".isdigit()

False

In [49]:
floatVar.is_integer()

True

# list#

In [51]:
listVar = [intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [52]:
listVar.append(11)

In [53]:
listVar[0]

3

In [54]:
strVar[0]

'h'

In [56]:
'h' in strVar

True

In [57]:
64 in listVar

False

In [58]:
listVar[1] = 9

##Esercizio##

True

In [72]:
guess = "porta"

p**_a

##Function##

In [88]:
def wordle(guess, target):
  '''
  A funciton that checks a word guess against a target
  Input:
    guess: a string
  Return:
    a string
  '''
  target = target.lower()
  output = ""
  guess = guess.lower()

  if len(target) != len(guess):
    print("lunghezza sbagliata")
  else:
    for i in range(len(target)):
      if guess[i] == target[i]:
        output = output + guess[i]
      elif guess[i] in target: 
        output = output + "*"
      else:
        output = output + "_"

  return output

In [74]:
wordle?

In [89]:
wordle("ciao", "cioa")

'ci**'

##Importing packages

typical packages that we will see
### Pandas
manipulation of tabular data
### Numpy
manipulation of numerical data
### Scipy
statistica (also stats models)
### matplotlib (pylab)
visualizations and plotting
### sklearn (scikitlearn)
machine learning
### tensorflow
neural networks

In [93]:
import pandas as pd
from pandas import read_csv

In [94]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [96]:
df = pd.read_csv(url)

In [98]:
df.shape

(924, 41)

In [99]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [100]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [102]:
#estraggo la prima riga
df.iloc[0]

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [103]:
df.iloc[:, 0]

0      54049402
1      54046813
2      54045643
3      54051838
4      54052808
         ...
919    54049386
920    54049413
921    54052476
922    54053504
923    54048300
Name: Unique Key, Length: 924, dtype: int64

In [107]:
df.loc[:, 'Created Date']

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [108]:
url2 = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [115]:
colnames = ["title", "genre"]
movies = pd.read_csv(url2, sep = "::", index_col= 0, header = None, names = colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [113]:
type(df)

pandas.core.frame.DataFrame

In [117]:
movies["title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [119]:
movies.loc[:, "title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [121]:
len(movies["genre"].unique())

301

In [124]:
"Toy Story (1995)".split()[-1].replace("(", "").strip(")")

'1995'

In [127]:
def get_year(mtitle):
  '''
  non la scrivo per briga
  '''
  return int(mtitle.split("(")[-1].replace("(", "").strip(")"))

In [129]:
movies["year"] = movies["title"].map(get_year)

In [128]:
movies["title"].map(get_year)

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: title, Length: 3883, dtype: int64

In [130]:
movies.groupby("year").count()

      title  genre
year
1919      3      3
1920      2      2
1921      1      1
1922      2      2
1923      3      3
...     ...    ...
1996    345    345
1997    315    315
1998    337    337
1999    283    283
2000    156    156

[81 rows x 2 columns]

In [ ]:
movies.groupby("year").count().plot(y = "")